@media print {
  body * {
    visibility: hidden;
  }

  #document_order,
  #document_order * {
    visibility: visible;
  }

  #document_order {
    background-color: white;
    color: black;
    position: absolute;
    left: 0;
    top: 0;
  }
}
